---
layout: page-header
id: publications
title: Publication
---
<div class="container">
    <div class="row">
        <div id="journal" class="col s12 left">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h5 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                Journals
            </h5>
            <ol class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                {% for p in site.data.journal_pub %}
                <li>{{p}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div id="conference" class="col s12 left">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h5 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                Conferences
            </h5>
            <ol class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                {% for p in site.data.conference_pub %}
                <li>{{p}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>