---
layout: default
---
<!--<div class="wrapper">-->
<!--<div class="container">-->
<div class="section teal padding">
    <div class="container">
        <div class="row">
            <div class="col m12">
                <h1 class="grey-text text-lighten-4 fadeInDownBig" data-wow-duration="1000ms"
                    data-wow-delay="100ms">
                    Publications
                </h1>
            </div>
        </div>
    </div>
</div>
<!--</div>-->

<!--<div class="section">-->
<div class="container">
    <div class="row">
        <!--<div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="100ms">-->
        <div id="journal" class="col s12 left">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                Journals
            </h4>
            <ol class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                {% for p in site.data.journal_pub %}
                <li>{{p}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div id="conference" class="col s12 left">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                Conferences
            </h4>
            <ol class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                {% for p in site.data.conference_pub %}
                <li>{{p}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->

<div class="container">

</div>
<!--</div>-->
