<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l10 offset-l2 s12">
                <h5 class="white-text">Acknowledgement</h5>
            </div>
        </div>
        <div class="row">
            <div class="col l2 s12">
                <img class="responsive-img center-img"  width="100px" src="../assets/img/nsf.png">
            </div>
            <div class="col l10 s12">
                <!--<h5 class="white-text">Acknowledgement</h5>-->
                <p class="grey-text text-lighten-4">This research is supported by the National Science Foundation under
                    Grant No. 1638301. Any opinions, findings and conclusions or recommendations expressed in this
                    material are those of the authors and do not necessarily reflect the views of the
                    National Science Foundation</p>
            </div>

            <!--<div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>-->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>